@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

.App {
  text-align: center;
  background-color: darkslategray;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#weatherBox {
  background-color: #c5815c78;
  border-radius: 50px;
  max-width: 60vw;
  min-width: 400px;
  padding: 2%;
  font-family: "Montserrat", sans-serif;
}

#weatherBox > h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#weatherIcon {
  font-size: 500%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
